@import "tailwindcss";
@import "@fontsource/gabarito";

@layer utilities {
  .text-shadow {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }

  .text-shadow-sm {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  }

  .text-shadow-lg {
    text-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  }

  .text-shadow-glow {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
  }

  .text-shadow-none {
    text-shadow: none;
  }
}


:root {
  font-family: "Gabarito", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}


.smooth-link {
  font-family: inherit;
  font-weight: 500;

  text-decoration: inherit;
  color: #fff;
  position: relative;
  display: inline-block;

  transition: color 0.5s ease-in;

  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    transition: width 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  &:hover:after {
    width: 100%;
  }
}

body {
  margin: 0;

  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  background-color: black;

}

h1 {
  /* font-size: 3.2em; */
  line-height: 1.1;
}

.noise-overlay {
  width: 100%;
  height: 100%;
  background-size: 109px;
  background-repeat: repeat;
  background-image: url("./assets/textures/noise-texture.png");
  opacity: 0.06;
  border-radius: 0;
  flex: none;
  inset: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}